<ion-header>
  <ion-toolbar>
    <ion-img src="..\assets\icon\AF-Date-Control.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="logIn(email, password)" expand="block" color="success">Login</ion-button>
      </ion-col>
    </ion-row>

    <!-- ***Not Working***
    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/forgot-password']" expand="block" color="danger">Forgot Password ?</ion-button>
      </ion-col>
    </ion-row>
    -->

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/home']" expand="block" color="medium">Return Home</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
