<ion-header>
  <ion-toolbar>
    <ion-title>
      AF Date Control
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <span class="already">Welcome, Please Sign In or Register as New Staff Member</span>
        <ion-button [routerLink]="['/login']" expand="block" color="tertiary">Staff Sign In</ion-button>
        <span class="divider line one-line">or</span>
        <ion-button [routerLink]="['/registration']" expand="block" color="dark">Register As New Staff Member</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>