<ion-header>
  <ion-toolbar>
    <ion-title>Biscuits and Cakes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <form [formGroup]="bcForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Brand</ion-label>
        <ion-input formControlName="brand" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Barcode</ion-label>
        <ion-input formControlName="barcode" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ouantity</ion-label>
        <ion-input formControlName="quantity" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Best Before Date</ion-label>
        <ion-input formControlName="bbdate" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add Product</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>

<ion-item *ngFor="let bc of Listings" class="user-list">
  <ion-label>
    <h3>Product : {{bc.brand}} {{bc.description}}</h3>
    <h3>Quantity: {{bc.quantity}}</h3>
    <h3>Before Date: {{bc.bbdate}}</h3>
  </ion-label>

  <div class="item-note" item-end>

    <button ion-button clear [routerLink]="['/update-bc/', bc.$key]">
      <ion-icon name="create" style="zoom:2.0"></ion-icon>
    </button>
    <button ion-button clear (click)="deleteBcProduct(bc.$key)">
      <ion-icon name="trash" style="zoom:2.0"></ion-icon>
    </button>
  </div>

</ion-item>

src\app\update-pages\update-bc\update-bc