<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-button [routerLink]="['/dashboard']" expand="block" color="dark">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
      <ion-img src="..\assets\icon\AF-Date-Control.png"></ion-img>
    </ion-row>
  </ion-toolbar>
</ion-header>

  <ion-list lines="full">
    <h1>Enter Product Details From Biscuit and Cakes Sections:</h1>
    <form [formGroup]="bcForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-input formControlName="brand" type="text" placeholder="Enter Brand Name:" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="description" type="text" placeholder="Enter Product Description:" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="barcode" type="number" placeholder="Enter Barcode:"required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="quantity" type="number" placeholder="Enter Quantity:" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <p>Enter Best Before Date:</p>
        <ion-input formControlName="bbdate" type="Date" required>
        </ion-input>
      </ion-item>

      <ion-row>
          <ion-button type="submit" color="success" shape="full" expand="block">Add Product</ion-button>
      </ion-row>
    </form>
  </ion-list>

<ion-content>
  <ion-item *ngFor="let bc of Listings" class="user-list">
    <ion-label>
      <h2>Product : {{bc.brand}} {{bc.description}} | Qty: {{bc.quantity}} | BB Date: {{bc.bbdate}}</h2>
    </ion-label>

  <div class="item-note" item-end>
    <button ion-button clear [routerLink]="['/update-bc/', bc.$key]">
      <ion-icon class="updateBtn" name="create" style="zoom:2.0"></ion-icon>
    </button>
    <button ion-button clear (click)="deleteBcProduct(bc.$key)">
      <ion-icon class="deleteBtn" name="trash" style="zoom:2.0"></ion-icon>
    </button>
  </div>
  </ion-item>
</ion-content>