<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      </ion-buttons>
    <ion-title>AF Date Control - Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Hello, User</h2>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/biscuits-cakes']" expand="block" color="warning" size="large">Biscuits and Cakes</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/cereal-muesli']" expand="block" color="success" size="large">Cereal/Muesli</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
