ion-img{
    width: 12%;
    height: 12%;
    margin: auto;
    display: block;
}

ion-content.background{
    --background: url(../../assets/icon/DashBoardBackground.jpg) 0 0/100% 100% no-repeat;
}

.dairy{
    width: 30%;
    margin: auto;
    display: inline-block;
}

.deli{
    width: 30%;
    margin: auto;
    display: inline-block;
}

.meats{
    width: 30%;
    margin: auto;
    display: inline-block;
}

.bc{
    width: 22%;
    margin: auto;
    display: inline-block;
}

.cc{
    width: 29%;
    margin: auto;
    display: inline-block;
}

.minerals{
    width: 19%;
    margin: auto;
    display: inline-block;
}

.meds{
    width: 16%;
    margin: auto;
    display: inline-block;
}

.cm{
    width: 47%;
    margin: auto;
    display: inline-block;
}

.frozen{
    width: 46%;
    margin: auto;
    display: inline-block;
}

.misc{
    width: 30%;
    margin: auto;
    display: inline-block;
}

h2{
    color: crimson;
}

h3{
    color: orange;
}

h4{
    color: green;
}

.red{
    color: crimson;
}

.orange{
    color: orange;
}

.green{
    color: green;
}