<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      </ion-buttons>
    <ion-title>AF Date Control - Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Hello, User</h2>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/biscuits-cakes']" expand="block" color="warning" size="large">Biscuits and Cakes</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/cereal-muesli']" expand="block" color="success" size="large">Cereal/Muesli</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/confectionery-crisps']" expand="block" color="warning" size="large">Confectionery and Crisps</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/dairy']" expand="block" color="danger" size="large">Dairy Products</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/deli-stock']" expand="block" color="danger" size="large">Deli Stock</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/frozen']" expand="block" color="success" size="large">Frozen Foods</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/meats']" expand="block" color="danger" size="large">Meats</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/medicines']" expand="block" color="warning" size="large">Medicines</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/minerals']" expand="block" color="warning" size="large">Minerals</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button [routerLink]="['/misc-other']" expand="block" color="medium" size="large">Misc/Other</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block" color="dark">Logout</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
