<ion-header>
  <ion-toolbar>
    <ion-img src="..\assets\icon\AF-Date-Control.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password)" shape="round" color="success">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col> 
      <p>Already Have An Account ? </p>
      <ion-button [routerLink]="['/login']" shape="round" color="danger">Log In</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-button [routerLink]="['/home']" shape="round" color="dark">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>